<div class ="row">
    <div class="card card-small">
      <div class="card-body">
      <h5 class="card-title">Mountains By Night</h5>
      <img src="assets/1.png" class="card-img-top" alt="...">
      <div class="btn-group flex-wrap">
        <button href="#" class="btn btn-secondary-active">Small</button>
        <button href="#" class="btn">Large</button>
      </div>
      </div>
    </div>
    <div class="card card-small">
      <div class="card-body">
        <h5 class="card-title">Mountains By Day</h5>
        <img src="assets/2.png" class="card-img-top" alt="...">
        <div class="btn-group flex-wrap">
          <button href="#" class="btn btn-secondary-active">Small</button>
          <button href="#" class="btn">Large</button>
        </div>
      </div>
    </div>  
    <div class="card card-small card-large">  
      <div class="card-body">
        <h5 class="card-title">Mountains By Twighlight</h5>
        <img src="assets/3.png" class="card-img-top" alt="...">
        <div class="btn-group flex-wrap">
          <button href="#" class="btn">Small</button>
          <button href="#" class="btn btn-secondary-active">Large</button>
        </div>
      </div>
    </div> 
  </div>